.container {
    margin-top: 60px;
}

.box {
    box-shadow:
     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12);

    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
}

.login-form {
    width: 25%;
    position: fixed;
    top: 17%;
    left: 37.5%;
}

.login-form-input {
    margin-top: 20px;
}

.login-button button {
    margin-top: 20px;
    width: 100%;
}

.login-form-header {
    display: block;
    text-align: center;
}

.login-form-icon img {
    width: 50%;
    display: block;
    margin: auto;
}

.login-form-alert {
    margin-top: 5px;
    margin-bottom: 5px;
}