<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div><a href="#" class="navbar-brand">Todos App</a></div>

        <ul class="navbar-nav">
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="nav-item"><a routerLink="/welcome/sunny" class="nav-link">Home</a></li>
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="nav-item"><a routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
            <li *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" class="nav-item"><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>